body {
  font-family: sans-serif;
}
h1 {
  font-size: 2em;
  font-weight: normal;
}
li {
  margin: 0.5em 0;
  font-size: 1.5em;
}
p {
  font-size: 1.5em;
}
span {
  font-weight: bold;
}

.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #333;
}

.content {
  height: 5000px;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(31, 216, 130);
  position: fixed;
  top: 20px;
  left: 0%;
}

.output {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 445px;
  right: 5px;
}
